@page "/"
@using Microsoft.AspNetCore.Components.Web
@namespace edd_blazor_server_poc.Pages ;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en-GB">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="This is a dotnet Blazor template for a NI Direct style site which can be reused on Github for free">
    <meta property="og:url" content="https://nidirect.gov.uk">
    <link rel="canonical" href="https://nidirect.gov.uk">
    <meta property="og:title" content="NI Direct Blazor template">
    <meta property="og:description" content="This is a dotnet template for a NI Direct Blazor site">
    <meta property="og:image:alt" content="NI Direct Blazor template">
    <meta property="og:locale" content="en_GB">
    <meta property="og:type" content="website">
    <meta name="twitter:card" content="summary_large_image"> 
    <link rel="apple-touch-icon" src="~/assets/images/ni-direct-apple-touch.png" />
    <title>NI Direct Blazor app</title>
    <base href="~/" />
    <link href="css/site.css" rel="stylesheet" />
    <link href="~/css/jquery-modal.css" rel="stylesheet" />
    
    <link rel="icon" href="~/assets/images/favicon.ico" type="image/x-icon" />
    <link rel="icon" sizes="16x16 32x32 48x48" href="~/assets/images/favicon.ico" type="image/x-icon">
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered"/>
</head>
<body class="govuk-template__body">
<script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
<component type="typeof(App)" render-mode="ServerPrerendered"/>
@*
<div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="govuk-link" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>*@

<script src="_framework/blazor.server.js"></script>
<script src="_content/BlazorInputFile/inputfile.js"></script>
</body>
</html>