<AuthorizeView>
    <Authorized>
        <li class="govuk-header__navigation-item nidirect-header__navigation-item">
            <a class="govuk-header__link" href="Identity/Account/Manage">Hi, @context.User.Identity.Name!</a>
        </li>
        
        <li class="govuk-header__navigation-item nidirect-header__navigation-item">
                <a href="/Identity/Account/LogOut" class="govuk-header__link">Log out</a>
        </li>
    </Authorized>
    <NotAuthorized>
        
        <li class="govuk-header__navigation-item nidirect-header__navigation-item">
            <a class="govuk-header__link" href="Identity/Account/Register">Register</a>
        </li>
        
        <li class="govuk-header__navigation-item nidirect-header__navigation-item">
            <a class="govuk-header__link" href="Identity/Account/Login">Log in</a>
        </li>
    </NotAuthorized>
</AuthorizeView>