@inherits LayoutComponentBase

<Nidirect_header />

    <div class="govuk-width-container">
        <main role="main" class="govuk-main-wrapper" id="main-content">
            <div class="govuk-grid-row">
                @Body
            </div>
        </main>
    </div>

<Nidirect_footer />