@inherits LayoutComponentBase

<Nidirect_header />
<div class="govuk-width-container">
    <TimeoutControl ShowTimeOutAfter="18" />
    <main role="main" class="govuk-main-wrapper" id="main-content">
        @Body
    </main>
</div>
<Nidirect_footer />