<footer class="nidirect_footer bottom-footer" role="contentinfo">
    <div class="govuk-width-container">
        <p class="govuk-body">
            <ul>
                <li>
                    <a class="govuk-link" href="#" target="blank" rel="nofollow">Privacy (opens in a new tab)</a>
                </li>
                <li>
                    <a class="govuk-link" href="#" target="blank" rel="nofollow">Cookies (opens in a new tab)</a>
                </li>
                <li>
                    <a class="govuk-link" href="#" target="blank" rel="nofollow">Accessibility</a>
                </li>
            </ul>
        </p>
    </div>
</footer>